In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Seinfeld_scripts.csv")

In [4]:
df.head

<bound method NDFrame.head of        Unnamed: 0   Character  \
0               0       JERRY
1               1       JERRY
2               2      GEORGE
3               3       JERRY
4               4      GEORGE
...           ...         ...
54611       54611       JERRY
54612       54612  PRISONER 3
54613       54613       JERRY
54614       54614       GUARD
54615       54615       JERRY

                                                Dialogue  EpisodeNo    SEID  \
0      Do you know what this is all about? Do you kno...        1.0  S01E01
1      (pointing at Georges shirt) See, to me, that b...        1.0  S01E01
2                                       Are you through?        1.0  S01E01
3                 You do of course try on, when you buy?        1.0  S01E01
4      Yes, it was purple, I liked it, I dont actuall...        1.0  S01E01
...                                                  ...        ...     ...
54611    Grand theft auto - don't steal any of my jokes.       23.0  S09E23
54612                      You suck - I'm gonna cut you.       23.0  S09E23
54613  Hey, I don't come down to where you work, and ...       23.0  S09E23
54614   Alright, Seinfeld, that's it. Let's go. Come on.       23.0  S09E23
54615  Alright, hey, you've been great! See you in th...       23.0  S09E23

       Season
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
...       ...
54611     9.0
54612     9.0
54613     9.0
54614     9.0
54615     9.0

[54616 rows x 6 columns]>

In [5]:
df.shape

(54616, 6)

In [6]:
df.dtypes

Unnamed: 0      int64
Character      object
Dialogue       object
EpisodeNo     float64
SEID           object
Season        float64
dtype: object

In [20]:
df['words'] = df['Dialogue'].str.count(' ') + 1
df.head()

,Unnamed: 0,Character,Dialogue,EpisodeNo,SEID,Season,words
0,0,JERRY,Do you know what this is all about? Do you kno...,1.0,S01E01,1.0,189.0
1,1,JERRY,"(pointing at Georges shirt) See, to me, that b...",1.0,S01E01,1.0,41.0
2,2,GEORGE,Are you through?,1.0,S01E01,1.0,3.0
3,3,JERRY,"You do of course try on, when you buy?",1.0,S01E01,1.0,9.0
4,4,GEORGE,"Yes, it was purple, I liked it, I dont actuall...",1.0,S01E01,1.0,14.0

In [23]:
df.groupby('Character') \
    .words \
    .sum() \
    .sort_values(ascending=False) \
    .head(10)

Character
JERRY       147430.0
GEORGE      107049.0
ELAINE       74642.0
KRAMER       70304.0
NEWMAN        7069.0
FRANK         4894.0
MORTY         4748.0
HELEN         3401.0
PETERMAN      2907.0
SUSAN         2880.0
Name: words, dtype: float64

In [45]:
Total_words = df.groupby(by='Season').words.sum()
Total_words

Season
1.0    16511.0
2.0    37235.0
3.0    67968.0
4.0    74172.0
5.0    71418.0
6.0    67962.0
7.0    75209.0
8.0    65795.0
9.0    70015.0
Name: words, dtype: float64

In [68]:
Jerry_word = df[(df.Character == "JERRY")].groupby(by='Season').words.sum() 
Jerry_word

Season
1.0     8888.0
2.0    14690.0
3.0    20936.0
4.0    21419.0
5.0    18103.0
6.0    17239.0
7.0    16631.0
8.0    14348.0
9.0    15176.0
Name: words, dtype: float64

In [77]:
Jerry_words = df[df.Character.str.startswith("JERRY")].groupby(by='Season').words.sum()

In [75]:
df['Character'].str.startswith("JERRY").value_counts()

False    39636
True     14980
Name: Character, dtype: int64

In [72]:
df[(df.Character == 'JERRY')].Character.value_counts()

JERRY    14786
Name: Character, dtype: int64

In [80]:
(Jerry_word / Total_words).round(3)

Season
1.0    0.538
2.0    0.395
3.0    0.308
4.0    0.289
5.0    0.253
6.0    0.254
7.0    0.221
8.0    0.218
9.0    0.217
Name: words, dtype: float64

In [79]:
(Jerry_words / Total_words).round(3)

Season
1.0    0.541
2.0    0.396
3.0    0.314
4.0    0.291
5.0    0.256
6.0    0.258
7.0    0.224
8.0    0.221
9.0    0.217
Name: words, dtype: float64

In [49]:
George_word = df[(df.Character == 'GEORGE')].groupby(by='Season').words.sum() 
George_word

Season
1.0     2889.0
2.0     8605.0
3.0    15004.0
4.0    16252.0
5.0    14279.0
6.0    11921.0
7.0    13911.0
8.0    11129.0
9.0    13059.0
Name: words, dtype: float64

In [51]:
(George_word / Total_words).round(2)

Season
1.0    0.17
2.0    0.23
3.0    0.22
4.0    0.22
5.0    0.20
6.0    0.18
7.0    0.18
8.0    0.17
9.0    0.19
Name: words, dtype: float64

In [46]:
df[(df.Character == 'JERRY') | (df.Character == 'GEORGE') | (df.Character == 'ELAINE') | (df.Character == 'KRAMER')].groupby(by='Season').words.sum()

Season
1.0    14149.0
2.0    31397.0
3.0    52861.0
4.0    54328.0
5.0    50557.0
6.0    48776.0
7.0    50808.0
8.0    46486.0
9.0    50063.0
Name: words, dtype: float64